src/main/mule/learntmp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="learntmp2Flow" doc:id="dc4a4ba2-f75a-4022-b177-281fe580149d" >
		<http:listener doc:name="Listener" doc:id="df4ac60c-1f1b-4470-bfb5-76114279796b" config-ref="HTTP_Listener_6061" path="/learntmpmule2/{extractFirstValue}/{extractSecondValue}"/>
		<ee:transform doc:name="save varaiables" doc:id="6cf0a101-09f9-4bcf-80a1-6e3b0bdd275f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-attributes>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="extractFirstValue" ><![CDATA[attributes.uriParams.extractFirstValue]]></ee:set-variable>
				<ee:set-variable variableName="extractSecondValue" ><![CDATA[attributes.uriParams.SecondValue]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="math opsds" doc:id="fa303ebc-3611-42a7-b084-b3aaf35d11a8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	
	"add": vars.extractFirstValue as Number + vars.extractSecondValue as Number,
	"sub": vars.extractFirstValue as Number - vars.extractSecondValue as Number,
	"mul": vars.extractFirstValue as Number * vars.extractSecondValue as Number,
	"div": vars.extractFirstValue as Number / vars.extractSecondValue as Number

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e2e7be4d-4240-49c2-88e4-820245a6f094" message="#[payload]"/>
	</flow>
</mule>
